@import 'components/mixin';
@import 'components/variableXurl';

.dark {
    .calender{
        background-color: $dark-bacol;
        transition: 1s;
        .dycalendar-header{
            background-color:  $dark-third;
            color: $dark-primary;
            .dycalendar-prev-next-btn{
                background-color: $dark-second;
            }
        }
        .dycalendar-body{
            td{
                color: $dark-primary;
            }
            td:hover{
                background-color: $dark-primary;
                color: $dark-third;
            }
            .dycalendar-target-date{
                background-color: $dark-primary;
                color: $dark-second;
            }
        }
    }
    .battery{
        transition: 1s;
        border: 2px solid $dark-primary;
        .percen{
            background-color: $dark-second;
            .persentasi{
                color: $dark-primary;
            }
        }
    }
    .motive .header-text .typewrite > .wrap:after {
        color: $dark-primary;
    }
    .hr::before{background-color: $dark-primary;}
    .mn::before{background-color: $dark-second;}
    .sc::before{background-color: $dark-third;}
    background-color: $dark-bacol;
    color: $dark-second;
    transition: 1s;
}
.light{
    .calender{
        background-color: $bacol;
        transition: 1s;
        .dycalendar-header{
            background-color:  $third;
            .dycalendar-prev-next-btn{
                background-color: $second;
            }
        }
        .dycalendar-body{
            td{
                color: $primary;
            }
            td:hover{
                background-color: $primary;
                color: $third;
            }
            .dycalendar-target-date{
                background-color: $primary;
                color: $second;
            }
        }
    }
    .battery{
        transition: 1s;
        border: 2px solid $primary;
        .percen{
            background-color: $second;
            .persentasi{
                color: $primary;
            }
        }
    }
    .hr::before{background-color: $primary;}
    .mn::before{background-color: $second;}
    .sc::before{background-color: $third;}
    background-color: $bacol;
    color: $primary;
    transition: 1s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: 0.5s;
}
body{
    height: 100vh;
    width: 100vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
section.best{
    display: flex;
    justify-content: space-between;
    position: relative;
}
// time
.container-time{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    // jam
    .container-clock{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        // jam
        .wrapper-clock{
            width: 150px;
            height: 150px;
            .clock{
                position: absolute;
                z-index: 1;
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include shadow;
                border-radius: 50%;
                background: url(/assets/clock.png);
                background-position: center;
                background-size: cover;
                &::before{
                    content: '';
                    background-color: #fff;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 9;
                }
                .hour{
                    height:45%;
                    width: 90px;
                    .hr{
                        height:100%;
                        width: 90px;
                    }
                } 
                .min{
                    height: 60%;
                    width: 110px;
                    .mn{
                        height: 100%;
                        width: 110px;
                    }
                } 
                .second{
                    height: 75%;
                    width: 130px;
                    .sc{
                        height: 100%;
                        width: 130px;
                    }
                } 
                .hr, .mn, .sc{
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    // position: absolute;
                }
                .hour, .min, .second{
                    position: absolute;
                }
                .hr::before{
                    content: '';
                    align-items: end;
                    position: absolute;
                    width: 8px;
                    height: 50%;
                    z-index: 10;
                    border-radius: 6px;
                }
                .mn::before{
                    content: '';
                    align-items: end;
                    position: absolute;
                    width: 4px;
                    height: 50%;
                    z-index: 11;
                    border-radius: 6px;
                }
                .sc::before{
                    content: '';
                    align-items: end;
                    position: absolute;
                    width: 2px;
                    height: 70%;
                    z-index: 12;
                    border-radius: 6px;
                }
            }
        }

        // battery
        .battery-wrapper{
            width: auto;
            height: auto;
            display: flex;
            .battery{
                width: 9rem;
                height: 5rem;
                right: 0;
                left: 0;
                border-radius: 15px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em;
                &::before{
                    content: '';
                    height: 1em;
                    width: 3px;
                    display: block;
                    right: -6px;
                    // align-items: center;
                    position: absolute;
                    background-color: #000;
                    border-radius: 5px;
                }
                .level{
                    position: absolute;
                    border-radius: 13px;
                    top: 4px;
                    right: 4px;
                    left: 4px;
                    bottom: 4px;
                    overflow: hidden;
                    .percen{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        // height: fit-content;
                        .persentasi{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            &.charg::before{
                                content: url('/assets/thunder.svg');
                                vertical-align: auto;
                            }
                        }
                    }
                }
            }
        }

        // btn mode
        .wrapping-btn{
            width: 3em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05) ,
                        5px 5px 10px rgba(0, 0, 0, 0.3) ;
        
            .btn{
                .dark{
                    &::before{
                        content: url('/assets/moon.svg');
                        vertical-align: -0.125em;
                    }
                }
                .light{
                    &::before{
                        content: url('/assets/sun.svg');
                        vertical-align: -0.125em;
                    }
                }
            } 
        }
    }
    // calender
    .calender{
        width: 18em;
        height: 20em;
        border-radius: 10px;
        @include shadow();
        display: flex;
        justify-content: center;
        align-items: center;
        .dycalendar-month-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .dycalendar-header{
                width: 100%;
                margin-bottom: 1em;
                padding: 0.5em;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 10px;
                .dycalendar-prev-next-btn{
                    position: static;
                    padding: 0.2em 0.5em;
                    border-radius: 5px;
                    &:hover{
                        box-shadow: -2.5px -2.5px 5px rgba(255, 255, 255, 0.05) ,
                                    2.5px 2.5px 5px rgba(0, 0, 0, 0.3) ;
                    }
                }
            }
            .dycalendar-body {
                td:hover{
                    border-radius: 5px;
                    transition: 0.3s;
                }
                .dycalendar-target-date{
                    border-radius: 5px;
                }
            }
        }
    }
}
// content
.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
    .welcome{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .motive{
        position: absolute;
        bottom: 2rem;
        left: 10rem;
        transform: translateX(8rem) translateY(-4rem);
        .header-text {
            font-family: "Poppins";
            font-weight: 500;
        }
        
        .typewrite > .wrap {
            position: relative;
            font-weight: 300;
        }
        
        .typewrite > .wrap:after {
            content: "?";
            color: $primary;
            font-weight: 500;
            
            position: absolute;
            animation: blinkerText 1s linear infinite;
        }
        
        @keyframes blinkerText {
            50% {
                opacity: 0;
            }
        }
    }
    .bg-wrapper{
        position: relative;
        img{
        position: absolute;
        z-index: -1;
        // @include shadow();
        filter: drop-shadow(-8px 8px 5px #00000060) 
        drop-shadow(8px -8px 5px #ffffff60);
        bottom: 0;
        left: 0;
        transform: translateX(-2em) rotateY(180deg);
    }
    }
}