
$primary : #393E46;
$second:#00ADB5;
$third:#AAD8D3;
$bacol:#EEEEEE;

$dark-primary : #FFC045;
$dark-second:#0A91AB;
$dark-third:#065471;
$dark-bacol:#0C2233;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
